body {
  background-color: #222;
  color: #FFF;
  padding-top: 3em;
  padding-bottom: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
  color: #666;
}

.margin-bottom {
  margin-bottom: 2em;
}

canvas {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
}

.active img {
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.color-source {
  display: inline-block;
  margin-bottom: 5px;
}

a {
  color: #999;
}

p {
  font-size: 11px;
  line-height: 2.25em;
}

.preset {
  margin-bottom: 5px;
}
